@import "ui_patterns/bootstrap_overrides"

.cs-bottom-pad-lt
  padding-bottom: 5px

.cs-bottom-pad
  padding-bottom: 10px

.cs-bottom-pad-lg
  padding-bottom: 20px

.cs-float-right
  float: right

.cs-float-left
  float: left

.cs-inline
  display: inline