@import "compass/layout/sticky-footer"

@include sticky-footer(30px, ".cs-standard-layout", ".cs-footer-root", ".cs-footer")

.cs-footer
  text-align: center
  padding:
    top: 5px
  border-top: 1px solid #E7E7E7