{{define "body"}}
    <div class="cs-bottom-pad">
        <h2 class="cs-inline">{{.Title}}</h2>
        <a class="cs-float-right" href="/concert/"><button type="button" class="btn btn-primary">View All</button></a>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form" method="POST" action="save">
                <input type="hidden" name="database" value="concert"></input>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Coachella">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="price" placeholder="10604 Coachella Way, CA">
                </div>
                <div class="form-group">
                    <label>State</label>
                    <select class="form-control" name="state_id">
                        {{range .States}}
                            <option value="{{.Id}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="form-group">
                    <label>Website</label>
                    <input type="text" class="form-control" name="website" placeholder="www.coachella.com">
                </div>
                <div class="form-group">
                    <label>Start</label>
                        <div class='input-group date cs-js-datepicker' data-date-format="YYYY-MM-DD">
                        <input type='hidden' class="form-control" name="start"/>
                        <input type='text' class="form-control" name="start" disabled value="{{.Now}}"/>
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>End</label>
                        <div class='input-group date cs-js-datepicker' data-date-format="YYYY-MM-DD">
                        <input type='hidden' class="form-control" name="end"/>
                        <input type='text' class="form-control" name="end" disabled value="{{.Now}}"/>
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{{end}}