{{define "body"}}
    <div class="cs-concert-user-view-one">
        <div class="cs-header">
            <div class="row">
                <h1 class="cs-main">
                    <div class="cs-float-left">{{.Concert.Name}}</div>
                    <div class="cs-float-right">{{.UntilDays}} days</div>
                </h1>
            </div>
            <div class="row">
                <h4 class="cs-aux">
                    <div class="cs-float-left"><a target="_blank" href="{{.Concert.Website}}">{{.Concert.Website}}</a></div>
                    <div class="cs-float-right">
                        {{if eq .ConcertState 1}}
                            ago
                        {{end}}

                        {{if eq .ConcertState 2}}
                            left!
                        {{end}}

                        {{if eq .ConcertState 3}}
                            to go
                        {{end}}
                    </div>
                </h4>
            </div>
        </div>
    </div>
{{end}}