{{define "body"}}
    <div class="cs-bottom-pad">
        <h2 class="cs-inline">{{.Title}}</h2>
    </div>

    <div class="col-md-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>
                {{range .Concerts}}
                    <tr>
                        <td>{{.Name}}</td>
                        <td>{{.Start}}</td>
                        <td>{{.End}}</td>
                    </tr>
                {{end}}
            </thead>
        </table>
    </div>
    <div class="col-md-8">
        <div class="cs-js-concert-graph"></div>
    </div>
{{end}}