{{define "base"}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="css/app.css">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default jdk-header" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Jean</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="{{if eq .Title "blog"}}active{{end}}"><a href="/">Blog</a></li>
                        <li class="{{if eq .Title "about"}}active{{end}}"><a href="about">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a target="_blank" href="http://www.github.com/jadekler">Github</a></li>
                        <li><a target="_blank" href="http://www.linkedin.com/pub/jean-de-klerk/1a/114/59a">LinkedIn</a></li>
                        <li><a target="_blank" href="https://github.com/jadekler/git-misc/tree/master/jeansite">Site Code</a></li>
                    </ul>
                </div>
            </nav>

            {{template "body" .}}

            <nav class="navbar navbar-default navbar-fixed-bottom jdk-footer" role="footer">
                <small><a href="mailto:jadekler@gmail.com">jadekler@gmail.com</a></small>
            </nav>
        </div>
    </body>
</html>
{{end}}