{{define "body"}}
    <div class="panel panel-default cs-add-band-to-concert">
        <div class="panel-heading">
            <h2>{{.Title}}</h2>
        </div>
        <div class="panel-body">
            <form role="form" method="POST" action="saveBandsToConcert">
                <div class="form-group">
                    <label>Concert</label>
                    <select class="form-control" name="concert_id">
                        {{range .Concerts}}
                            <option value="{{.Id}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="container cs-no-margin cs-no-pad cs-full-width">
                    <div class="col-md-6 cs-no-pad cs-parser-input">
                        <div class="form-group">
                            <label>Bands</label> <small>(just dump 'em in!)</small>
                            <textarea class="form-control cs-js-parse-input" rows="10"></textarea>
                        </div>
                        <input type="hidden" name="parsedInput" class="cs-js-parse-output"></input>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                    <div class="col-md-6 cs-parser-display">
                        <div class="form-group">
                            <label>To be inserted</label>
                            <div class="cs-js-parse-display cs-parse-display-box"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{end}}