{{define "base"}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script data-main="/static/js/main" src="/static/js/external/require/require.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/css/app.css">

        <title>ConcertSap</title>
    </head>
    <body>
        <div class="container jm-standard-layout">
            <nav class="navbar navbar-default jm-header" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Go Website Skeleton</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="{{if eq .Title "home"}}active{{end}}"><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle {{if eq .Title "data"}}active{{end}}" data-toggle="dropdown">Collect <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/collect/concert">Concerts</a></li>
                                <li><a href="/collect/ticket">Ticket Prices</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a target="_blank" href="https://github.com/jadekler/git-go-d3-concertsap">Site Code</a></li>
                    </ul>
                </div>
            </nav>

            <div class="jm-main">
                {{template "body" .}}
            </div>

            <div class="jm-footer-root"></div>
        </div>
        <div class="jm-footer">
            <small>Created by Jean, Marcus</small>
        </div>
    </body>
</html>

{{end}}